.container{
    width: 100%;
    height: 530px;
    border: 1px solid black;
}
.header{
    height: 30px;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 10px;
}
li > a{
    text-decoration: none;
}
.logo-banner{
    height: 50px;
}
.main{
    height: 425px;
}
[class^='col-']{
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
